@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Star Wars API</h1>
    <p class="lead">A C# .Net MVC Application that uses HttpClient to query the Star Wars Api (SWAPI)</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
